body {
  font: 16px/1.7 "Spartan", sans-serif;
}

.head-color {
  color: #183b56;
}

.site-header {
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

.site-header .navbar-brand-logo {
  height: 35px;
}

.site-header .navbar-nav .nav-link {
  color: #183b56;
}

.site-header .btn {
  border-radius: .45rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.site-header .btn:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.site-header .btn-transparent {
  border-color: #183b56;
  color: #183b56;
}

.site-header .btn-transparent:hover {
  background-color: #183b56;
  color: #fff;
}

.site-header .btn-pro {
  background-color: #fc6666;
  border-color: #fc6666;
  color: #fff;
}

.site-header .btn-pro:hover {
  background-color: #fb4040;
}

.site-header .navbar-toggler {
  border-color: rgba(23, 31, 56, 0.1);
  border-radius: .45rem;
  color: #183b56;
  padding: .75rem;
}

.site-header .navbar-toggler:focus {
  border: solid 4px #183b56;
}

.site-header .navbar-toggler .navbar-toggler-icon {
  height: auto;
  vertical-align: middle;
}

.nav-on-scroll {
  background-color: #183b56;
  z-index: 1;
}

.nav-on-scroll .navbar-nav .nav-link {
  color: #fff;
}

.nav-on-scroll .navbar-toggler {
  border-color: transparent;
  color: #fff;
}

.nav-on-scroll .navbar-toggler:focus {
  border: none;
}

.nav-on-scroll .btn-transparent {
  border-color: #fff;
  color: #fff;
}

.nav-on-scroll .btn-transparent:hover {
  background-color: #fff;
  color: #183b56;
}

.site-banner {
  padding: 112px 0 48px;
}

@media (min-width: 576px) {
  .site-banner {
    padding: 160px 0;
  }
}

@media (min-width: 768px) {
  .site-banner .site-banner-text {
    margin-bottom: 8em !important;
  }
}

.site-banner .site-banner-text .site-banner-head {
  font-size: clamp(2rem, 4vw, 3.5rem);
}

.site-banner .site-banner-text .site-banner-subhead {
  font-size: clamp(1rem, 4vw, 1.25rem);
}

.site-banner .site-banner-text .btn-download-app {
  background-color: #183b56;
  border-radius: 0.45rem;
  color: #fff;
  font-weight: 500;
  padding: 9px 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.site-banner .site-banner-text .btn-download-app:hover {
  background-color: #102638;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.site-banner .site-banner-text .btn-download-app .icon-brand .fa {
  font-size: clamp(1.25rem, 2vw, 2.25rem);
}

.site-banner .site-banner-text .btn-download-app .icon-brand img {
  height: 25px;
}

.site-banner .site-banner-text .btn-download-app .download-text {
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.site-banner .site-banner-text .btn-download-app small {
  font-size: 0.875rem;
}

.features .icon {
  color: #418b78;
}

.features .features-head {
  font-size: clamp(1rem, 3vw, 1.75rem);
  font-weight: 500;
}

.features .card-body p {
  color: #424767;
  font-size: 1rem;
  font-weight: 300;
}

.about-head {
  font-size: clamp(1.375rem, 5vw, 2.5rem);
}

.about-head-tag {
  font-size: 1.25rem;
  font-weight: 400;
}

.about-swipe {
  padding-top: 4rem;
}

.about-swipe p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

.about-swipe .about-swipe-card {
  padding-bottom: 8rem;
}

.about-swipe .about-swipe-card .btn {
  background-color: #183b56;
  border-radius: 0.45rem;
  color: #fff;
  font-weight: 500;
  padding: 9px 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about-swipe .about-swipe-card .btn:hover {
  background-color: #102638;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about-swipe .stats {
  padding-bottom: 8rem;
}

.about-swipe .stats .card {
  border: .0625rem solid #e5eaf4;
}

.about-swipe .stats .card h2 {
  color: #183b56;
  font-size: clamp(1.875rem, 5vw, 3.5rem);
  font-weight: 500;
}

.featured-by {
  padding-bottom: 8rem;
}

.featured-by h2 {
  font-size: 1rem;
}

.featured-by .fa {
  font-size: clamp(1.875rem, 5vw, 4.5rem);
}
/*# sourceMappingURL=styles.css.map */